@model WebASP.Models.User
@{
    ViewBag.Title = "Удаление пользователя";
            }
<div>
    <dl class="dl-horizontal">
        <dt>Email</dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>Login</dt>
        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt>Password</dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
</div>
<form asp-action="delete" asp-controller="home" method="post">
    <div class="form-group">
        <input type="submit" value="Удалить" class="btn btn-default"/>
    </div>
</form>