@model WebASP.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}

<link rel="stylesheet" href="~/css/Registration.css">
<form  asp-controller="Home" enctype="multipart/form-data">
    @*<div asp-validation-summary="ModelOnly"></div>*@
    <div class="login-page">
        <div class="form">
            <form class="register-form">
                <input type="text" placeholder="Фамилия" asp-for="Surname" asp-validation-for="Surname" required pattern="^[а-яА-Я]*$" minlength="2" />
                <input type="text" placeholder="Имя" asp-for="Name" asp-validation-for="Name" required pattern="^[а-яА-Я]*$" minlength="2" />
                <input type="text" placeholder="Отчество" asp-for="middle_Name" asp-validation-for="middle_Name" pattern="^[а-яА-Я]*$" minlength="2" />
                <input type="date" placeholder="Дата рождения" asp-for="birth_day" asp-validation-for="birth_day" autofocus required />
                <input type="email" placeholder="Электронная почта" asp-for="Email" asp-validation-for="Email" required />
                <input type="text" placeholder="Логин" asp-for="Login" asp-validation-for="Login" required minlength="6" maxlength="50" />
                <input type="password" placeholder="Пароль" asp-for="Password" asp-validation-for="Password" autofocus required minlength="6" />
                <input type="password" placeholder="Повторите пароль" asp-for="ConfirmPassword" asp-validation-for="ConfirmPassword" autofocus required minlength="6" />
                <input type="file" placeholder="Аватар" name="file" accept="image/*" enctype="multipart/form-data" />
                <button asp-action="Register">Зарегистрироваться</button>

            </form>
        </div>
    </div>
</form>

