@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model WebASP.Models.Post
@{
    ViewBag.Title = "Изменить пост";
}

<link rel="stylesheet" href="~/css/Registration.css">
<form asp-action="Edit_Post" asp-controller="home" enctype="multipart/form-data">
    <div class="login-page">
        <div class="form">
            <form class="register-form">
                <input type="text" placeholder="Заголовок" asp-for="Title" />
                <input type="text" placeholder="Сообщение" asp-for="Message" />
                <input type="text" placeholder="Дата" asp-for="Post_Date" readonly />
                @if (HttpContextAccessor.HttpContext.Request.Cookies["role"] == "True")
                {
                    <input type="text" placeholder="Пользователь" asp-for="User_ID" autofocus required />
                }
                <input type="file" placeholder="Аватар" name="file" accept="image/*" enctype="multipart/form-data" />
                <div class="post_pic" style="display:none;">
                    <input type="text" placeholder="Изображение" asp-for="Picture" readonly />
                </div>
                <label for="checkResp">Удалить изображение поста</label>
                <input name="checkResp" value="true" type="checkbox" />
                <div class="form-group">
                    <input type="submit" value="Изменить" class="btn btn-default" />
                </div>
            </form>

        </div>
</div>

</form>
